<%- include('./includes/head'); %>
<%- include('./includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Mantendo seus contatos proximos de Você!!!</p>
        </div>
        <div class="responsive-table">
            <table class="table">
                <tr>
                    <td>Geronimo</td>
                    <td>Olanda</td>
                    <td>11952519844</td>
                    <td>Geronimoasladna@outlook.com</td>
                </tr>
            </table>
        </div>
        
        <div class="col-lg-2"></div>
    </div>

</div>

<%- include('./includes/footer'); %>